* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.anchors {
  display: block;
  position: relative;
  visibility: hidden;
}

.navbar {
  padding: 0 !important;
}

.navbar-brand {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 10px 15px;
  font-size: 1.25rem;
  background-color: transparent;
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: white;
  color: black !important;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1) !important;
}

.navbar button.navbar-toggler:hover {
  border-color: #ffffff;
  background: #fff;
  transition: all 0.3s ease;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:hover .navbar-toggler-icon {
  filter: invert(100%);
}

@media (max-width: 991.98px) {
  .nav-link:not(.navbar-brand) {
    width: 130px;
    text-align: center;
  }
}

.fa-angles-down:hover {
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  transition: all 0.3s ease;
}

.white {
  background: #ffffff;
  height: fit-content;
  padding: 20px 0px;
}

.grey {
  background: #ededed;
  height: fit-content;
  padding: 20px 0px;
}

.form {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #678;
  font-size: 1rem;
  margin: 10px 0px;
  position: relative;
}

.form:hover {
  cursor: pointer;
  background: #4837ff;
  transition: all 0.3s ease;
}

.main {
  background-image: url("../../images/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
  text-transform: uppercase;
  color: white;
}

.main h1 {
  font-size: 4rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.main h2 {
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.icon-button {
  background-color: white;
  border-radius: 4.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  margin: 5px 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4.5rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.icon-button:hover span {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4.5rem;
  margin: -2.25rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 4.5rem;
  left: 0;
  line-height: 4.5rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 4.5rem;
  z-index: 10;
}

.linkedin span {
  background-color: #0073a4;
}
.github span {
  background-color: black;
}

.icon-button .icon-linkedin {
  color: #0073a4;
}
.icon-button .icon-github {
  color: black;
}

.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-github {
  color: white;
}

.arrow {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 40px;
}

.bounce {
  animation: bounce 2s infinite;
  animation-delay: 4s;
}

@keyframes bounce {
  0%,
  10%,
  40%,
  70%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.fa-angles-down {
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  font-size: 25px;
}

footer {
  background-color: #131313;
  color: #ffffff;
}

footer .container {
  display: flex;
  height: 7svh;
}
